<ion-header>
  <ion-navbar color="primary">
    <ion-title>Extended Vision</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Locais Próximos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!beaconsFound; else beaconFound">
    <ion-card>
      <ion-card-header class="my-beacons-header">Procurando...</ion-card-header>
      <ion-card-content>
        <p>Nenhum local encontrado até o momento.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #beaconFound>
    <ion-card *ngFor="let item of beaconsFound | async">
      <ion-card-content>
        <ion-list>
          <ion-item>{{item.name}}</ion-item>
          <ion-item>Id: {{item.id}}</ion-item>
          <ion-item>Mensagem: {{item.message}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>
  
</ion-content>
